################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nrf51422_usb_host/VisualGDB
/.vs/nrf51422_usb_host/v15
/VisualGDB/Debug
/VisualGDB/Release
